extract-device-id/src/main/resources/META-INF/schema/config/extract-device-id.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.openrepose.org/repose/extract-device-id/v1.0"
           xmlns:extract-device-id="http://docs.openrepose.org/repose/extract-device-id/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="extract-device-id" type="extract-device-id:ExtractDeviceIdConfig"/>
    <xs:complexType name="ExtractDeviceIdConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    Extract Device ID can be configured by editing the extract-device-id.cfg.xml file.
                    The user can specify the messages to print to the log.
                </html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="delegating" type="extract-device-id:DelegatingType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="maas-service-uri" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        The target Rackspace MaaS endpoint URI for requests including host, port, and path to service.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="cache-timeout-millis" type="extract-device-id:ZeroOrPositiveInteger" use="optional" default="0">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        Time in milliseconds to cache auth token. The default is 10 minutes. A value of Zero (0) is disabled.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DelegatingType">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    Whether or not you would like this filter to populate the delegation headers. Inclusion means you do.
                </html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="quality" type="extract-device-id:QualityType" use="optional" default="0.2">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        What quality you want any output headers to be.
                        When setting up a chain of delegating filters the highest quality number will be the one that is
                        eventually output.
                        Default is 0.2
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="QualityType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ZeroOrPositiveInteger">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
